::-webkit-scrollbar {
    width: 0px;
  }
  
  .hello {
    display: flex;
    overflow-x: scroll;
    width: 100%;
  }
  
  .short {
    flex-shrink: 0;
    width: 300px;
    height: 10%;
    border-radius: 10px;
    margin-left: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }